@media only screen and (min-width: 38rem) {
    header, main, nav, footer{ 
        max-width: 900px;
        margin: 0 auto;      
    }

     .hamburger {
        display: none;  /* some o botão no notebook*/
    }

    .navegacao {
       display: block;
       padding: 10px;
    }

   .navegacao ul {
      display: flex;
      justify-content: center;
      gap: 5rem;
   
   }

    .navegacao a:hover { /*quando passo o mousse aparece a maozinha*/
      padding: 10px;
   }

   
    .logo-menu img { order: 2; } /*mudar para direita*/

    #ham-btn { order: 1; }

   

    
} 

