*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "Nunito Sans", sans-serif;
    
}

:root {
    --cor-primaria: ;
    --cor-secudanria: ;
    --cor-fundo: ;
    --cor-de-texto: ;
    --fonte-family: ;    

}

/*header e menu*/

header{ 
    color: #FFFAF0;
    background-color:#0d0d52 ;  

}

header img{
    border-radius: 2rem;
    
}



/*Menu de navegação*/
nav ul {
    display: flex;
    list-style: none; /* sem bolinhas no menu.*/
    justify-content:space-between;
    text-decoration: none; /*remover o sublinhado do menu(os links tem sublinhado)*/
    padding:12px;
    margin-top: 15px;
    
    
    
}

nav ul li{
    
    text-align: center;
}

nav a{
    
    text-decoration: none; /*remover o sublinhado do menu(os links tem sublinhado)*/
    color:#fff;   
    font-weight: 700;
    
    

}
/*o efeito  de hover é aquele que acontece quando você passa o mouse por cima de um elemento — como um botão, link ou imagem — e ele muda de aparência.*/
a:hover {

  border: 1px solid #fff;
  padding: 10px;
}

.navegacao {
    display: none;  /*O menu vai para o botão*/
    background-color: var(--cor-primaria);
    padding: 8px;
    font-size: 25;
   
   
}


.navegacao.exibir { 
    display: block;


}






/******** Botão hamburger ********/



.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translateX(10px) rotate(10deg);
    margin-right: 10px;
    
     
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
    color: #fff;
    
  
}

.hamburger.show::after {
    content: "\00D7"; /* X */
    opacity: 1;
  
    
   
}

a[aria-current="page"] {
  font-weight:lighter;
  color:#FFFF00;
  text-decoration:underline;
   animation: pulse 1s infinite alternate; /*animção*/
}

@keyframes pulse {   
  from { text-underline-offset: 2px; }
  to   { text-underline-offset: 6px; }
}




/************* logo **************/ 

.logo-menu span{
   
    font-size: 20px;
    font-weight: 700;
    

}

.logo-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap:10px;
    
    
}

.logo-menu img{
     width:110px; 
     height:110;
}

/******* main ******/

.Agora{
    
    padding: 10px;
    text-align: center;
    background-color: #0d0d52;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 4px;
}

.Agora a {
    text-decoration: none;
    border: none;
    color: #FFf;
    
}

.Agora a:hover{
    text-decoration: line-through;
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
}

.Agora p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}

.btn-svg{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.btn-svg img{
    width: 30px;
    
}


.Agora h1{
    
    font-size:2rem;
    color:#fff;
    text-align: center;
    margin-bottom: 10px;
}

/****** main habito ********/

.habitos {
    padding:10px;
    border: 1px solid #0d0d52;
    background-color: #FFFAF0;

}

.habitos p {
    line-height: 1.5;
   
}

.habitos h1{
    color:#0d0d52;
    line-height: 1.2;
}

.habitos img {
    display: flex;
    margin-left: auto;
    width: 200px;
    animation: correr 0.6s infinite alternate ease-in-out; 


    
}

@keyframes correr {
  10%   { transform: translateX(0) rotate(0deg); }
  40%  { transform: translateX(3px) rotate(2deg); }
  100% { transform: translateX(-3px) rotate(-2deg); }
}





/********* footer e rede social *********/

footer {
    background-color:#0d0d52;
    color: #fff;
    margin-top: 5px;
    padding: 6px;
}

.contato-projeto {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
    font-size: 12px;
  
}

.social{
    text-align:center;
    margin-top: 20px;
    margin-left: 10px;

   
    

}

/*imagem hero */ 
  .hero img {
  width: 100%;
  height: auto;
  display: block;
 }



/******* página contatos *******/

  .relatos p{
    
    font-size: 14px;
    margin-top: 7px;
    line-height: 1.5;
    font-style: italic;
    padding: 5px;
    
    
}

  .relatos{
     width: 100%;
     padding: 20px;
     margin-top: 4rem;
   

    
  }

  .relatos p:hover{
    background-color: #FFFAF0;
    border: 1px solid #000;
    border-radius: 0 10px;
    box-shadow: 2px 2px rgba(0, 1, 2, 0.6);
    padding: 10px;
  }

  .relatos h3 {
    text-align: center;
    margin: 15px 0;
    text-transform: uppercase;
    margin-bottom: 10px;
  
  }
  .relatos p:hover {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); } /*início*/
    20% { transform: translateX(-3px); } /*mexe para a esquerda*/
    50% { transform: translateX(3px); } /*mexe para a direita*/
    75% { transform: translateX(-3px); } /*volta para a esquerda*/
    80% { transform: translateX(3px); } /*volta para a direita*/
    100% { transform: translateX(0); } /*volta ao normal*/
}
 /******** formulario ***********/

    form {
        display: block;
        gap: 10px;
        padding: 10px;
        width: 100%;
        max-width: 500px;
        line-height: 1.5;
     
      
        /*margin: 0 auto; centralizar o formulário*/
        
        
        
        
    }

    fieldset{
        margin-top: 10px;
        padding: 15px;
    }

    legend{
        font-weight: 700;
        font-size: 18px;
    }

    input,select
    {
      display: block;
      width: 100%;
      padding: 6px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      margin-top: -4px;
      
      

   }
   

    form button {
      
      display: block;
      margin-left: auto; /*O botão foi para direita*/
      border-radius: 5px;
      padding: 5px;
      box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
      background-color: #000;
      color: #fff;
      cursor: pointer;
      margin-top: 8px;
      font-weight: 600;
      
    
    }

   form button:hover {
      background-color:#FFFF00;
      color: #000;

   }
   
    .escala{
        display: flex;
        height: 20px;
           
        
    }

    textarea{
        margin-top: 5px;
        width: 250px;
        
    }


    
    main h1{
        margin-top: 5px;

    }

   main,
  main * {
    font-family: "Roboto Condensed", sans-serif;
    text-align: justify;
}



    form p{ 
     font-weight: 600;
     text-align: center;
     margin-bottom: 5px;

    }
  

/******pagina index ******/

   #Mini-desafios{
    padding: 10px;
    border: 1px solid #000;
    border-radius:5px 0 ;
    margin-bottom: 4px;
    background-color: #FFFAF0;
    
    
  }

   #Mini-desafios h2{
    text-align: center;
    margin: 5px 0;
    width: 30%;
    border-radius: 5px 0;
  }

    #Mini-desafios p{
     
    font-size: 16px;
    line-height: 1.5;
    padding: 5px;

    }


    /****** página sobre ****/

    #d-diarios{
        background-color: #FFFAF0;
        margin: 4px 0;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px 0;
        
    }



     #cards-destaque{
       
          gap:4px
        
    }

    #cards-destaque img{
        width: 100%;
        height: auto;
        display: block;
        box-shadow: 2px 2px rgba(0, 1, 2, 0.6);
    }
    
    #cards-destaque section {
         border: 1px solid #000;
         padding: 10px;
         border-radius: 0 10px;
         background:#FFFAF0;
    }

    #cards-destaque button{
        display: block;
        margin-left: auto; /*O botão foi para direita*/
        margin-bottom: 3px;
        background-color:#FAF9F4;
        color: #000;
        padding: 5px;
        border-radius:10px;
        font-weight: 600;
        font-size: 12px;
        transition: transform 0.3s ease;
        cursor:pointer;
    }

    #cards-destaque button:hover{ 

        background-color: #FFFF00;
        color:#000;
        transform: translateY(-6px);
    }

    
    

   #habitos-cartoes{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
        margin-top: 10px;
    }

    #habitos-cartoes section{
        
        padding: 10px;
        margin-bottom: 4px;
        background-color: #FFFAF0;


    }

    #habitos-cartoes h2{
        background-color: #0d0d52;
        border-radius: 10px;
        padding: 5px;
        color: #fff;
        width: 150px;
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 5px;
    }

    #habitos-cartoes section:hover {
        border: 1px solid #000;
        border-radius: 0 10px;

    }


    .painel{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: #0d0d52;
      border: 1px solid #000;
    
    }

    .painel img{
        width: 80px;
      
       

    }

    .painel h2{
        color: #FFf;
        font-size: 26px;

    }

    .painel p {
        color: #FFf;
        font-size: 18px;
    }
    
    /******* index ******/ 
    .Dia{
        padding: 10px;
        border: 1px solid #000;
        margin: 5px 0;
        background-color: #FAF9F4;
    }

    .Dia p{
        line-height: 1.5;
    }

    .rotacao{ /*class que estpa na img html*/
         animation: girar 4s linear infinite;  /*o sol fica girando*/
    }
    @keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


   



    

   
  
