*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "Nunito Sans", sans-serif;
    
}

:root {
    --cor-primaria: ;
    --cor-secudanria: ;
    --cor-fundo: ;
    --cor-de-texto: ;
    --fonte-family: ;    

}

/*header e menu*/

header{ 
    color: #FFFAF0;
    background-color:#0d0d52 ;  

}


/*Menu de navegação*/
nav ul {
    display: flex;
    list-style: none; /* sem bolinhas no menu.*/
    justify-content:space-between;
    text-decoration: none; /*remover o sublinhado do menu(os links tem sublinhado)*/
    padding:12px;
    margin-top: 15px;
    
    
    
}

nav ul li{
    
    text-align: center;
}

nav a{
    
    text-decoration: none; /*remover o sublinhado do menu(os links tem sublinhado)*/
    color:#fff;   
    font-weight: 700;
    
    

}
/*o efeito  de hover é aquele que acontece quando você passa o mouse por cima de um elemento — como um botão, link ou imagem — e ele muda de aparência.*/
a:hover {

  border: 1px solid #fff;
  padding: 10px;
}

.navegacao {
    display: none;  /*O menu vai para o botão*/
    background-color: var(--cor-primaria);
    padding: 8px;
    font-size: 25;
   
   
}


.navegacao.exibir { 
    display: block;


}






/******** Botão hamburger ********/



.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translateX(10px) rotate(10deg);
    margin-right: 10px;
    
     
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
    color: #fff;
    
  
}

.hamburger.show::after {
    content: "\00D7"; /* X */
    opacity: 1;
  
    
   
}

a[aria-current="page"] {
  font-weight:lighter;
  color: gold;
  text-decoration:underline;
   animation: pulse 1s infinite alternate; /*animção*/
}

@keyframes pulse {   
  from { text-underline-offset: 2px; }
  to   { text-underline-offset: 6px; }
}




/************* logo **************/ 

.logo-menu span{
   
    font-size: 20px;
    font-weight: 700;
    

}

.logo-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap:10px;
    
    
}

/******* main ******/

.Agora{
    
    padding: 10px;
    text-align: center;
    background-color: #0d0d52;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 4px;
}

.Agora a {
    text-decoration: none;
    border: none;
    color: gold;
    
}

.Agora a:hover{
    text-decoration: line-through;
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
}

.Agora p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.btn-svg{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.btn-svg img{
    width: 30px;
    
}



h1{
    font-size: 3rem;
    color:#FFFAF0;
}

/****** main habito ********/

.habitos {
    padding:10px;
    border: 1px solid #0d0d52;

}

.habitos p {
    line-height: 1.5;
    font-family: "Roboto Condensed", sans-serif;
}

.habitos h1{
    color:#0d0d52;
    line-height: 1.2;
}




/********* footer e rede social *********/

footer {
    background-color:#0d0d52;
    color: #FFFAF0;
    margin-top: 5px;
    padding: 6px;
}

.contato-projeto {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
    font-size: 12px;
  
}

.social{
    text-align:center;
    margin-top: 20px;
    margin-left: 10px;

   
    

}

/*imagem hero */ 
.hero img {
  width: 100%;
  height: auto;
  display: block;
}