
@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto; 
        
    }     
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;  /* some o botão no notebook*/
    }

    .navegacao {
    display: block;
    padding: 10px;
    }

  .navegacao ul {
    display: flex;
    gap: 30px;
   
   }

   .navegacao a:hover { /*quando passo o mousse aparece a maozinha*/
    padding: 10px;
   }
   
/************ Pate onde fica a foto e o texto **********/
  

/* Botão */
.eu-btn{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding:10px;
}

/* Bloco de texto */

/* Coloca texto e foto lado a lado */
.sobre-foto {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 40px;
    flex-wrap: wrap; /* impede que cursos seja engolido */
    width: 100%;
}


/* Faz cada bloco ocupar espaço sem esmagar o outro */
.sobre {
    flex: 1;
}

.foto {
    flex: 1;
}

/* Garante que cursos fiquem abaixo */
.cursos {
    margin-top: 40px;
}

/* Apenas estética opcional */
.sobre p {
    line-height: 1.6;
}





/***** button *****/

   button{
    padding: 10px 6rem;
    
 }
   
   .cursos{
     display: flex;
     justify-content: space-around;
   }

   /*imagens responsivas*/
   
  .foto img {

    display: block;

    max-width: 100%;
    height: auto;
   


   }

}


