
@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto; 
    }     
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;  /* some o botão no notebook*/
    }

    .navegacao {
    display: block;
   }

  .navegacao ul {
    display: flex;
    gap: 30px;
    padding: 10px;
   }

   .navegacao a:hover { /*quando passo o mousse aparece a maozinha*/
    padding: 10px;
   }
   
   .sobre-foto{
    display: flex;
    gap: 10px;

   }

   .sobre {
    border:1px solid #000 ;
    margin-bottom: 5px;
    text-align: justify;

   }
   .foto{
    border:1px solid #000 ;
   }
   


  

}
