
@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto; 
        
    }     
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;  /* some o botão no notebook*/
    }

    .navegacao {
    display: block;
    padding: 10px;
   }

  .navegacao ul {
    display: flex;
    gap: 30px;
   
   }

   .navegacao a:hover { /*quando passo o mousse aparece a maozinha*/
    padding: 10px;
   }
   

   .sobre-foto{
    display: flex;
    justify-content: space-between; /* separa os blocos */
  
  
   


   }

   .eu-btn{
    display: flex;
    justify-content:flex-start; /*alinhe tudo para a direita*/
    align-items: center; /*Para a distroção da logo imagem. Geralmente imagem fica assim por causa do display flex.*/
    padding:10px;
    

    }   

   
   
/*Usei o display flex para alinhar os blocos lado a lado*/
   .sobre {
   flex: 1; /* ocupa metade do espaço */
   margin-right: 10px; /* espaço entre os blocos */
   margin-bottom: 5px;
  
  
   }



  .foto {
   flex: 1; /* ocupa metade do espaço */
    border:1px solid #000 ;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover; /*Se encaixa perfeitamente no bloco. */
    
  } 



   button{
    padding: 10px 6rem;
    
 }
   
   .cursos{
     display: flex;
     justify-content: space-around;
   }

   /*imagens responsivas*/
   
  .foto img {

    display: block;

    max-width: 100%;
    height: auto;
   


   }

}


