
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "Arimo", sans-serif;
    
}

:root {
    --cor-primaria: ;
    --cor-secudanria: ;
    --cor-fundo: ;
    --cor-de-texto: ;
    --fonte-family: ;    

}
/********** Cabeçalho ***********/

.logo img{
    display: block;
    width: 50px;
    height: auto;
    border: 1px solid #000;
    margin-left: 18px;
    margin-top: 2px;
    
    
}

 .logomenu {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    background-color: #EEE8AA; /*nome da cor é palegordenrod*/
    padding: 10px;
    margin-bottom: 5px;/*Tirar quando colocar o MAIN!*/

}

/* Ordem desejada */
.logo {
  order: 1;
}

.navegacao {
  order: 2;
}

#ham-btn {
  order: 3;
}


.subtitulo {
    display: block;
    font-size: 0.6rem;
    color: #000;
    margin-left: 10px;
   

}

/********** Botão *********/
.hamburger {
    background: none; /*botão hamburger sem cor e sem borda*/
    border: none;
    cursor: pointer; /*Vira a mãozinha*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*muda o tamanho do X*/

}

.hamburger::after {
    content: "\2630"; /*botão hamburger*/
    font-size: 2rem;
}

.hamburger.show::after{
    content: "\00D7"; 
}

/*********menu de navegação************/

.navegacao {
  display: none;   /* menu começa fechado */
  background-color: #EEE8AA; /*nome da cor é palegordenrod*/
  padding: 20px;
  
}

.navegacao.exibir {
  display: block;  /* menu abre quando o JS adiciona .exibir */
}


.navegacao a {
     line-height: 2;
     text-decoration: none;
     color: #000;
     padding: 8px;
    
    
}

.navegacao ul{
      list-style: none;
       
}

  .navegacao a:hover { /*quando passo o mousse em cima fica uma cor selecionada*/
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #000;
}

/******* main *******/


.cartoes-membros {
  
   display: grid;
   text-align: center;
   grid-template-columns: auto;
   padding: 10px;
   background-color: #f6f4c8;
   gap: 5px;
  
   

}

.cartoes-membros img {
    width: 100%;
    height: auto;
   

}

.cartoes-membros p{
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 12px;
  line-height: 1.5;
}

.cartoes-membros a {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #000;
  text-decoration: none;
  font-weight: bold;

}

.cartao {

  border: 1px solid #000;
  padding: 10px;
}


/*********** footer *********/

footer{
    background-color: #EEE8AA;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

/* Ordem desejada */
.contato {
  order: 1;
}

.social {
  order: 2;

}

.projeto {
  order: 3;
}