
@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;      
    }


    
    .hamburger {
    
    display: none;  /* some o botão no notebook*/

    }

    .navegacao{

    display: block;
    margin-top: 25px;

   }

   .navegacao ul {

    display: flex;
    gap: 3rem;
    align-items: center; /*Desceu(estava muito em cima) e foi para o centro*/

}

/********** coloca isso para modifica a cor atrás dos nomes no Menu **********/
    .navegacao a:hover { /*quando passo o mousse em cima fica uma cor selecionada*/
    padding: 10px;
   }

/****** botão CTA ******/
.btn-cta{
    position: absolute;
    top: 60%;
    left: 65%;
  
}



/******** footer e redes sociais *********/
   .icone-redes {
  width: 30px; 
  height: auto;
}
 
  footer{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5px;

}

  .contato {
    text-align: left;
    font-size: 12px;
    line-height: 25px;
    

}
  .projeto{ text-align: right;
    font-size: 12px;
    line-height: 25px;

}

/******** grade e lista *********/

.cartoes-membros.list {
   display: flex;
   flex-direction: column;
   gap: 16px;
   
}
.cartoes-membros.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 16px;
}
.cartao {
    background-color: #D5D8DC;
    padding: 15px 10px;
    text-align: left;
    border: 1px solid #000;
}
.info img {
    width: 80px;
    height: 80px;
   
}

.cartao h2 {
    font-size: 16px;

}
.texto p {
    font-size: 13px;
}
}