* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "Arimo", sans-serif;

}


:root {
    --cor-primaria: #104E8b ;
    --cor-secudanria:#fff ;
    --cor-fundo:#4FA3D1 ;
    --cor-de-texto:#000 ;
    --fonte-family:"Arimo" ;
}

/********** Cabeçalho ***********/
.logo img {
    display: block;
    width: 50px;
    height: auto;
    border: 1px solid var(--cor-de-texto);
    margin-left: 18px;
    margin-top: 2px;
}


.logomenu {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    background-color: var(--cor-primaria);
    padding: 10px;


}

.logo { order: 1; }
.navegacao { order: 2; }
#ham-btn { order: 3; }

.subtitulo {
    display: block;
    font-size: 0.6rem;
    color: var(--cor-secudanria);
    margin-left: 10px;

}
.titulo{
    font-weight: bold;
    color: var(--cor-secudanria);
}

/********** Botão *********/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
    color: var(--cor-secudanria);
}

.hamburger.show::after {
    content: "\00D7";
}



/********* Menu de navegação ************/
.navegacao {
    display: none;
    background-color: var(--cor-primaria);
    padding: 10px;
}

.navegacao.exibir {
    display: block;
}


.navegacao a {
    line-height: 2;
    text-decoration: none;
    color: var(--cor-secudanria);
    padding: 8px;
    font-weight: bold;
    
}

.navegacao ul {
    list-style: none;
}

.navegacao a:hover {
    background-color: var(--cor-fundo);
    border-radius: 3px;
    border: 1px solid var(--cor-de-texto);
    color: var(--cor-secudanria);
}
/********imagem hero **********/


.hero img{ 

  width: 100%;
  height: auto;
  display: block;

}


/******** Botão CTA *******/

.btn-cta a{
    position: absolute;
    top: 45%;
    left: 65%;
    background-color: #4FA3D1;
    color: #fff;
    padding: 10px 22px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
}

.btn-cta a:hover{
    background-color: #E67E22;
}

/***** imagem hero ******/

.hero {
    position:relative;
}




/******* Cartões *******/
.cartoes-membros {
    
    gap: 8px;
    margin: 5px 10px;
}

.cartao {
    background-color: #b1d7ec;
    padding: 15px 10px;
    text-align: left;
    border: 1px solid var(--cor-de-texto);
}

.cartao h2 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--cor-de-texto);
}


.info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: flex-start;
    gap: 15px;
}


.texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.texto p {
    font-size: 10px;
    line-height: 1.4;
    margin: 0;
}


.texto strong {
    font-weight: bold;
}


.info img {
    width: 60px;
    height: 60px;
    border: 1px solid var(--cor-de-texto);
    object-fit: cover;
}


.info a {
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    color: #E67E22;
    padding: 8px;
}

a:hover {

    color: var(--cor-secudanria);
}

/*********** Footer *********/
footer {

    background-color: var(--cor-primaria);
    color: var(--cor-secudanria);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 2;
}

.contato { order: 1; }
.social { order: 2; }
.projeto { order: 3; }


/********* Listas e grades ***********/

.view-toggle{
    text-align: right;
    margin-top: 10px;
    
}

button {
    background-color: var(--cor-primaria);
    font-weight: 600;
    margin-right: 10px;
    padding: 6px;
    color: var(--cor-secudanria);


}
.view-toggle button:hover {
    background-color: #E67E22;
   
}


.cartoes-membros.list {
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.cartoes-membros.grid {
   display: grid;
   grid-template-columns:auto auto;
   gap: 16px;
} 








